:root {
    --frame-size: 600px;
    --frame-margin: 10px;
    --frame-border: 4px;
    --text-border: 2px;
    --text-margin: 2px;
}

body {
    background: #222;
}

.container-container {
    max-width: var(--frame-size);
    height: calc(100vh - 2 * var(--frame-margin));
    width: calc(100vw - 2 * var(--frame-margin));
    margin: var(--frame-margin) auto;
    border: var(--frame-border) solid goldenrod;

    background: black;
}

.text-container {
    max-width: calc(var(--frame-size) - 2 * var(--frame-border) - 2 * var(--text-margin));
    height: calc(calc(100vh - 2 * var(--frame-margin)) - 2 * var(--text-margin) - 2 * var(--frame-border));
    width: calc(calc(100vw - 2 * var(--frame-margin)) - 2 * var(--text-margin) - 2 * var(--frame-border));
    margin: var(--text-margin);
    border: var(--text-border) solid goldenrod;

    overflow: auto;
    color: goldenrod;
}

header {
    margin: 10% auto;
    text-align: center;
}

.hr-double-down {
    border: none;
    border-top: 3px solid goldenrod;
    border-bottom: 1px solid goldenrod;
    height: 5px;
}

.hr-double-up {
    border: none;
    border-top: 1px solid goldenrod;
    border-bottom: 3px solid goldenrod;
    height: 5px;
}

header h1 {
    margin: 0.5em 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: small-caps;
}

header h2 {
    font-style: italic;
    margin-top: 0.5em;

    font-weight: normal;
}

header hr {
    width: 200px;
}

main {
    padding: 0 10%;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

main ul {
    list-style-type: circle;
}

main ol {
    list-style-type: upper-roman;
}

main a {
    color: goldenrod;
}

h3 {
    font-variant: small-caps;
    font-weight: normal;

    font-size: 130%;
}

header .ornament {
    width: 200px;
    margin: auto;
}