:root {
    --big-me-x: 50vw;
    --big-me-y: 50vh;
}

#overflow-wrapper {
    overflow: hidden;
    position: relative;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    width: 100vw;
    height: 100vh;

    background-color: whitesmoke;

    overflow: hidden;
    position: relative;
}

header {
    text-align: center;
    padding: 3rem 0;
    background: #fafafa;

    box-shadow: 0 0 5px grey;
}

header h2 {
    font-weight: lighter;
    font-size: 2.5rem;
    margin: 0 0.5rem;
}

.main-me {
    width: 100vw;
    height: 100vh;
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */
}

.main-me section {
    text-align: justify;
}

#text {
    padding-top: 40vh;
}

#links {
    text-align: center;
    /* font-size: 1rem; */
}

#links li {
    display: inline;
    padding: 0 10px;
}

#links li {
    border-right: 1px solid black;
}

#links li:last-child {
    border: none;
}

#links a {
    color: rgb(40, 40, 40);
    text-transform: lowercase;
    font-family: verdana, helvetica, arial, sans-serif;

    text-decoration: none;
}

#links a:hover {
    text-decoration: underline;
}

#links svg {
    vertical-align: bottom;
}

#twitter {
    fill:#28AAE1;
}

#left-parallelogram {
    height: 100vh;
    width: 50vw;
    float: left;
    /* shape-outside: polygon(0 0, calc(49vw + 25px - 5vh) 0, calc(calc(49vw + 25px - 5vh) - 100vh / 3.5) 100vh, 0 100vh); */
    /* shape-outside: polygon(0 10vh, calc(50vw + 11px - 10vh) 10vh, calc(calc(50vw + 11px - 10vh) - 80vh / 3.5) 90vh, 0 90vh); */
    /* shape-outside: polygon(0px 2.26vh,
                           100.67% 2.19%,
                           52vw 5vh,
                           calc(11px - 10vh + 50vw) 10vh,
                           calc(11px - 32.8571vh + 50vw) 90vh,
                           calc(50vw + 0.9*calc(11px - 32.8571vh)) 93.56%,
                           calc(50vw + 0.6*calc(11px - 32.8571vh)) 94.71%,
                           calc(50vw + 0.63*calc(11px - 32.8571vh)) 99vh, 0px 99vh); */
    shape-outside: polygon(0px 2.26vh, 100.67% 2.19%, 52vw 5vh, calc(50vw + 0.85 * calc(11px - 10vh)) 10vh, calc(calc(50vw + 0.85 * calc(11px - 10vh)) - 80vh / 3.5) 90vh, calc(50vw + 0.8*calc(11px - 32.8571vh)) 93vh, calc(50vw + 0.6*calc(11px - 32.8571vh)) 94.71%, calc(50vw + 0.63*calc(11px - 32.8571vh)) 99vh, 0px 99vh);

}

#right-parallelogram {
    height: 100vh;
    width: 50vw;
    float: right;
    shape-outside: polygon(calc(100vh / 3.5 + 0.6 * calc(4vh - 20px)) 0, calc(0.6 * calc(4vh - 20px)) 100vh, 50vw 100vh, 50vw 0);
}


.main-grid {
    display: grid;
    grid-template-rows: auto 1fr;
    /* padding: 0px 8px; */
    /* pointer-events: none; */

    position: relative;
    width: 100vw;
    height: 100vh;

}

header h1{
    position: absolute;
    font-size: 100vh;
    margin: 0;
    left: -20vh;

    color: #333735;
}

footer {
    padding: 10px 0
}

footer * {
    display: inline;
}

footer #gh-icon {
    right: 10px;
    position: absolute;
}

#recursion {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#pt {
    /* height: 100vh !important; */
    /* width: 100vw !important; */
    pointer-events: none;
}

#pt-container {
    position: relative;
    pointer-events: none;
    width: 100vw;
    height: 100%;
}

#pt-link {
    pointer-events: none;
}

.pts-text{
    /* Prevent flicker */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;

    pointer-events: all;
    font-size: 10vw;
    line-height: 8vw;
    transition: transform 0.2s, opacity 0.2s;
    transform: translate(-50%, -50%) scale(1);
    z-index: 0;
    opacity: 0.5;

    text-shadow: 1px 1px whitesmoke, 1px -1px whitesmoke, -1px -1px whitesmoke, -1px 1px whitesmoke;
}

.pts-text:hover {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1 !important;
    text-decoration: underline;
    z-index: 1;

    text-shadow: 2px 2px black;
}

#big-me {
    position: absolute;
    left: 0px;
    top: 0px;
    letter-spacing: 0.04em;

    font-size: 27vh;
    /* line-height: 14vw; */
    font-family: 'Playfair Display';
    font-style: italic;
    font-variant: small-caps;
    font-weight: lighter;
    z-index: 1;
    color: red;

    text-shadow: -0.05vw 0.2vmin black;
    opacity: 0.7;

    transform: translateX(-50%) translateX(var(--big-me-x)) translateY(-50%) translateY(var(--big-me-y))  scale(0.75);
    transition: opacity 0.3s, transform 0.3s, text-shadow 0.3s;

    /* Start invisible */
    /* display: none; */
}

#big-me:hover {
    opacity: 1;
    text-shadow: -0.1vw 0.4vmin 0.4px black,
                 -0.1vw 0.4vmin 5px black;
 
    transform: translateX(-50%) translateX(var(--big-me-x)) translateY(-50%) translateY(var(--big-me-y))  scale(0.8);
}

@media only screen and (max-width: 500px) {
    #big-me{
        transform: translate(-50%, -50%) scale(0.4);
    }

    #big-me:hover {
        transform: translate(-50%, -50%) scale(0.5);
    }
}

.text-container {
    margin: 8px;
}

/* html.is-animating .transition-enlarge {
  transform: translate(-50%, -50%) scale(6) !important;
} */

.huge-me {
    transform: translateX(-50%) translateX(50vw) translateX(-18vh) translateY(-75%) translateY(50vh) scale(5) !important;
    opacity: 1 !important;
    text-shadow: -2px 0.8vmin 0.4px black,
                 -2px 0.8vmin 5px black !important;
    pointer-events: none !important;

    /* left: calc(50vw - 18vh) !important; */
    /* top: 50vh !important; */
    font-size: 27vh !important;
    display: block !important;
}

main {
    transition: 1s;
}

#swup {
    opacity: 1;
    transition: opacity 1s;
}

html.is-animating #swup {
    opacity: 0;
}

html.is-changing #big-me {
    transition: transform 1.5s;
}