:root {
    --big-me-x: 50vw;
    --big-me-y: 50vh;
}

#overflow-wrapper {
    overflow: hidden;
    position: relative;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    width: 100vw;
    height: 100vh;

    /* From https://www.transparenttextures.com/ */
    
    color: white;
    
    background-color: #00a85d;
    background-image: url("/img/pattern.png");

    overflow: hidden;
    position: relative;

}

header {
    text-align: center;
    padding: 3rem 0;
    background: #fafafa;

    box-shadow: 0 0 5px grey;
}

header h2 {
    font-weight: lighter;
    font-size: 2.5rem;
    margin: 0 0.5rem;
}

.main-me {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */

    /* background-color: #00a85d; */
    /* background-image: url("/img/pattern.png"); */
    /* background-size: 512px 512px; */
}

#text {
    padding-top: 40vh;
    font-size: calc(1.5vh + 0.6rem);
    text-align: justify;
}

@media only screen and (max-width: 500px){
    #text{
        padding-top: 30vh;
    }
}

#links {
    text-align: center;
    font-size: 1.05rem;
}

#links li {
    display: inline;
    padding: 0 10px;
    border-right: 1px solid white;
}

#links li:last-child {
    border: none;
}

#links a {
    color: inherit; 
    text-transform: lowercase;
    font-family: verdana, helvetica, arial, sans-serif;

    text-decoration: none;
}

#links a:hover {
    text-decoration: underline;
}

#links svg {
    vertical-align: bottom;
}

#twitter {
    fill: white;
}

#github {
    fill: white;
}

#left-parallelogram {
    height: 100vh;
    width: 50vw;
    float: left;
    /* shape-outside: polygon(0 0, calc(49vw + 25px - 5vh) 0, calc(calc(49vw + 25px - 5vh) - 100vh / 3.5) 100vh, 0 100vh); */
    /* shape-outside: polygon(0 10vh, calc(50vw + 11px - 10vh) 10vh, calc(calc(50vw + 11px - 10vh) - 80vh / 3.5) 90vh, 0 90vh); */
    /* shape-outside: polygon(0px 2.26vh,
                           100.67% 2.19%,
                           52vw 5vh,
                           calc(11px - 10vh + 50vw) 10vh,
                           calc(11px - 32.8571vh + 50vw) 90vh,
                           calc(50vw + 0.9*calc(11px - 32.8571vh)) 93.56%,
                           calc(50vw + 0.6*calc(11px - 32.8571vh)) 94.71%,
                           calc(50vw + 0.63*calc(11px - 32.8571vh)) 99vh, 0px 99vh); */
    shape-outside: polygon(0px 2.26vh, 100.67% 2.19%, 52vw 5vh, calc(50vw + 0.85 * calc(11px - 10vh)) 10vh, calc(calc(50vw + 0.85 * calc(11px - 10vh)) - 80vh / 3.5) 90vh, calc(50vw + 0.8*calc(11px - 32.8571vh)) 93vh, calc(50vw + 0.6*calc(11px - 32.8571vh)) 94.71%, calc(50vw + 0.63*calc(11px - 32.8571vh)) 99vh, 0px 99vh);

}

#right-parallelogram {
    height: 100vh;
    width: 50vw;
    float: right;
    shape-outside: polygon(calc(100vh / 3.5 + 0.6 * calc(4vh - 20px)) 0, calc(0.6 * calc(4vh - 20px)) 100vh, 50vw 100vh, 50vw 0);
}


.main-index {
    width: 100vw;
    height: 100vh;
    padding: 2vmin 2vmin;

    background-color: #0076BF;
    background-image: url("/img/pattern.png");
}

header h1{
    position: absolute;
    font-size: 100vh;
    margin: 0;
    left: -20vh;

    color: #333735;
}

footer {
    padding: 10px 0
}

footer * {
    display: inline;
}

footer #gh-icon {
    right: 10px;
    position: absolute;
}

#pt {
    /* height: 100vh !important; */
    /* width: 100vw !important; */
    pointer-events: none;
}

#pt-container {
    position: relative;
    pointer-events: none;
    width: 100vw;
    height: 100%;
}

#pt-link {
    pointer-events: none;
}

.pts-text{
    /* Prevent flicker */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;

    pointer-events: all;
    font-size: 10vw;
    line-height: 8vw;
    transition: transform 0.2s, opacity 0.2s;
    transform: translate(-50%, -50%) scale(1);
    z-index: 0;
    opacity: 0.5;

    text-shadow: 1px 1px whitesmoke, 1px -1px whitesmoke, -1px -1px whitesmoke, -1px 1px whitesmoke;
}

.pts-text:hover {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1 !important;
    text-decoration: underline;
    z-index: 1;

    text-shadow: 2px 2px black;
}

#big-me {
    position: absolute;
    left: 0px;
    top: 0px;
    letter-spacing: 0.04em;

    font-size: 27vh;
    /* line-height: 14vw; */
    font-family: 'Playfair Display';
    font-style: italic;
    font-variant: small-caps;
    font-weight: lighter;
    z-index: 1;

    /* filter: drop-shadow(-0.05vw 0.2vmin 0.4px black); */
    opacity: 0.7;

    transform: translateX(-50%) translateX(var(--big-me-x)) translateY(-60%) translateY(var(--big-me-y))  scale(0.9);
    transition: opacity 0.3s, transform 0.3s;

    color: white;
    /* Start invisible */
    /* display: none; */

    /* background: linear-gradient(60deg, red, yellow, red, yellow, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px white;
    color: transparent; */
}

#big-me:hover {
    opacity: 1;
    /* filter: drop-shadow(-0.1vw 0.4vmin 0.4px black); */
    transform: translateX(-50%) translateX(50vw) translateY(-60%) translateY(50vh)  scale(0.95);
}

@media only screen and (max-width: 500px) {
    #big-me{
        transform: translateX(-50%) translateX(50vw) translateY(-55%) translateY(50vh) scale(0.4);
    }

    #big-me:hover {
        transform: translateX(-50%) translateX(50vw) translateY(-55%) translateY(50vh) scale(0.5);
    }
}

.text-container {
    margin: 8px;
}

/* html.is-animating .transition-enlarge {
  transform: translate(-50%, -50%) scale(6) !important;
} */

.huge-me {
    transform: translateX(-50%) translateX(50vw) translateX(-18vh) translateY(-75%) translateY(50vh) scale(5) !important;
    opacity: 1 !important;
    /* filter: drop-shadow(-0.1vw 0.4vmin 0.4px black); */
    pointer-events: none !important;

    /* left: calc(50vw - 18vh) !important; */
    /* top: 50vh !important; */
    font-size: 27vh !important;
    display: block !important;
}

.transition-fade {
    opacity: 1;
    transition: opacity 0.5s;
}

html.is-animating .transition-fade {
    opacity: 0;
}

.me-transition {
    transition: transform 1.5s !important;
}

.rot-transition {
    transition: transform 1.5s;
}

.alt {
    color: black;
}

#page {
    border: calc(2px + 0.3vmin) solid white ;
    width: calc(100vw - 4vmin);
    height: calc(100vh - 4vmin);

    display: grid;
    grid-template-areas:    ". . ."
                            ". m ."
                            ". . .";

    grid-template-rows: 1fr 45vh 1fr;
    grid-template-columns: 1fr 45vh 1fr;
}

@media only screen and (max-width: 500px) {
    #page {
        grid-template-rows: 1fr 24vh 1fr;
        grid-template-columns: 1fr 24vh 1fr;
    }
}

#square {
    grid-area: m;
    background-color: black;
    border: 5px solid black;

    transition: transform 1.5s;
}

#rotated-square {
    position: absolute;
    z-index: 0;
    left: calc(2vmin + (100vw - 4vmin - 45vh) / 2);
    top: calc(2vmin + (100vh - 4vmin - 45vh) / 2);
    overflow: hidden;
    width: 45vh;
    height: 45vh;

    background-color: #00a85d;
    grid-area: m;
    transform: rotate(45deg);

    border: 5px solid black;
}